<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event0', {data: 'Client connected', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html(); });
        
        
      socket.on('my_data', function(msg) {
        console.log(msg.data);
        $('#log').append('"x":'+msg.x+',"w":'+msg.w+ ',"y":'+msg.y+',"angle:"'+msg.angle+'<br>').html(); });
        

      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
          
      $('#buttonVal').click(function(event) {
          //console.log($('#buttonVal').val());
          socket.emit('db_event', {value: $('#buttonVal').val()});
          if ($(this).val() == "start") {
            $(this).val("stop");
            $(this).text("Stop");
          }
          else {
            $(this).val("start");
            $(this).text("Start");
          }
          return false; }); 
      
      $('form#open').submit(function(event) {
          socket.emit('open_event');
          return false;});
       
      
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });   
          
      $('form#emitP').submit(function(event) {
        socket.emit('my_eventP', {value: $('#valueP').val()});
          return false; });   
      
      $('form#emitI').submit(function(event) {
        socket.emit('my_eventI', {value: $('#valueI').val()});
          return false; });  
          
                
      });
    </script>
 </head>
 <body>
  <h1>Svetelny obvod 2022</h1>
  <h2>Nastavenia:</h2>
  
  <form id="open" method="POST" action="#">
    <input type="submit" value="Open">
  </form> 
  
  <h3>Ziadana hodnota W</h3>
  <form id="emit" method="POST" action='#'>
    <input type="text" name="emit_value" id="emit_value" placeholder="Ziadana hodnota W">
    <input type="submit" value="Set">
  </form>
  
  <h3>Konstanty regulatora:</h3>
  
  <h4>P</h4>
  <form id="emitP" method="POST" action='#'>
    <input type="text" name="valueP " id="valueP" placeholder="P">
    <input type="submit" value="Set">
  </form>
  
  <h4>I</h4>
  <form id="emitI" method="POST" action='#'>
    <input type="text" name="valueI " id="valueI" placeholder="I">
    <input type="submit" value="Set">
  </form>
  
  <button id="buttonVal" type="submit" value="start">Start</button>
  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form> 
  <h2>Receive:</h2>
  <div id="log"></div>
 </body>
</html>
